.about_image {
  width: 20rem;
  height: auto;
  border-radius: 50%;
  margin-left: 10rem;
}
.about_page {
  display: flex;
  margin-top: 8rem;
  gap: 10rem;
}
.about_paragraph {
  width: 20rem;
  margin-top: 3rem;
}
@media (max-width: 768px) {
  .about_image {
    margin-left: 0rem;
  }
  .about_page {
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    gap: 2rem;
  }
}
