:root {
  scroll-behavior: smooth;
  --first-color: #f1dfe4;
  --second-color: #65ced4;
  --third-color: #feff9d;
  --logo-color: #a88334;

  --body-font: "Montserrat", sans-serif;
  --h1-font-size: 2.25rem;
  --h2-font-size: 1.5rem;
  --h3-font-size: 1.25rem;
  --normal-font-size: 1rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  min-height: 100vh;
  background-color: var(--first-color);
}
