* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
p {
  text-align: center;
  background-color: ;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #feff9d;
  padding: 7px;
}
